<div class="dataTables_paginate paging_simple_numbers" id="crancy-table__main_paginate">
    <ul class="pagination">
        <li class="paginate_button page-item previous <% if (!hasPreviousPage) { %>
            disabled
        <% } %>" id="crancy-table__main_previous">
            <a href="<% if (hasPreviousPage) { %>
                ?page=<%= previousPage %>
            <% } %>" aria-controls="crancy-table__main" data-dt-idx="previous" tabindex="0" class="page-link">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        
        <% if (currentPage !== 1 && previousPage !== 1) { %>
            <li class="paginate_button page-item active">
                <a href="?page=1" aria-controls="crancy-table__main" data-dt-idx="0" tabindex="0" class="page-link">1</a>
            </li>
        <% } %>

        <li class="paginate_button page-item active">
            <a href="?<%= currentPage %>" aria-controls="crancy-table__main" data-dt-idx="0" tabindex="0" class="page-link"><%= currentPage %></a>
        </li>

        <li class="paginate_button page-item next <% if (!hasNextPage) { %>
            disabled
        <% } %>" id="crancy-table__main_next">
            <a href="<% if (hasNextPage) { %>
                ?page=<%= nextPage %>
            <% } %>" aria-controls="crancy-table__main" data-dt-idx="next" tabindex="0" class="page-link">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
    </ul>
</div>