<%- include('includes/header.ejs') %>
	<body id="crancy-dark-light">
	
		<div class="crancy-body-area ">
			
			
			<!-- crancy Dashboard -->
			<section class="crancy-error">
				<img class="error-img" src="/img/error-img.png" alt="page not found">
				<div class="crancy-error__content">
					<h2 class="crancy-error__title">Oops! Page not found.</h2>
					<a href="/" class="crancy-btn crancy-btn--error">Go Back</a>
				</div>
			</section>	
			<!-- End crancy Dashboard -->
			
		</div>
		
		<%- include('includes/footer.ejs') %>
		
	</body>
</html>
		