<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>

    	<!-- crancy Dashboard -->
		<section class="crancy-adashboard crancy-show">
			<div class="container">
				<div class="row">

				</div>
			</div>
		</section>
		<!-- End crancy Dashboard -->
	</div>

    <%- include('../includes/end.ejs') %>

</body>

</html>